footer {
    width: 100%;
    background: #F7F7F7;
    border-top: 1px solid #DDDDDD;
    padding: 40px 100px 0 100px;

}

.footer-sections {
    display: flex;
    padding-bottom: 30px;
}

.footer-sections section {
    flex-grow: 1;
}

.footer-sections h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 17.6px;
}

.footer-sections ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 0;
}


/* company description */

.company-description {
    border-top: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.company-description .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-description .Inc {
    font-size: 14px;
}
.company-description span {
    margin: 0 5px;
}

.icons-left {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icons-left .btn-wrap {
    background: none;
    border-style: none;
    display: flex;
    align-items: center;
    line-height: 25px;
}

.icons button div {
    text-decoration: underline;
    font-size: 14px;
}

.icons-right {
    display: flex;
    justify-content: space-between;
}

.icons-right i {
    padding: 0 10px;
}

.icons-right i:last-child {
    padding-right: 0;
}