* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

.site-wrap {
    max-width: 700px;
    background: white;
    margin: 100px auto; /* center */
    padding: 50px;
    text-align: justify; /* 인라인 콘텐츠를 양쪽 정렬 */
    word-break: break-all; /* 문자 강제 줄바꿈 허용 */
}

.site-wrap h1 {
    margin-bottom: 25px;
}

.align-left {
    float: left;
    margin-right: 20px;
    transform: translateX(-100%) rotate(90deg);
}

.align-right {
    float: right;
    margin-left: 20px;
    transform: translateX(100%) rotate(90deg);;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0%) rotate(0);
}
