body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 10px;
    background: #ffc600;
}

.photobooth {
    background: white;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 2px;
}

.take-photo, .video-on, .video-off {
    visibility: hidden;
}
  
.photo {
    width: 100%;
}
  
.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

.strip {
    padding: 30px;
}

.strip img {
    width: 100px;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: white;
}