main {
    display: flex;
    /* temp */
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

.accommodation-list-wrap {
    flex: 1;
    color: black;
    padding: 0 24px;
    min-width: 0;
    max-width: 840px;
}

.search-result-subtitle {
    padding-top: 50px;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
}

.search-result-title {
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;

}

.option-btns {
    display: flex;
    padding-top: 20px;
}

.option-btns li {
    padding-right: 10px;
}

.option-btns li button {
    border-radius: 20px;
    background: white;
    border: 1px solid rgb(176, 176, 176);
    padding: 8px 16px;
}

.option-btns li button:hover {
    border-color: black;
    cursor: pointer;
}

/* list- item */

.list-item {
    display: flex;
    padding: 25px 0;
    
    border-bottom: 1px solid #DDDDDD;
}

.list-item:last-child {
    border: none;
}

.list-item .img-slider-container {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
}

.list-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.list-item .text-wrap {
    flex: 1;  
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    white-space: nowrap;
    overflow: hidden;
}


.title {
    display: flex;
    justify-content: space-between;
}

.title-left {
    min-width: 0;
}

.title-left p {
    font-size: 14px;
    line-height: 18px;
    color: rgb(113, 113, 113);
}
    
.title-left h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 18px;
    line-height: 24px;
}

.title-right button {
    padding: 0;
    margin: 0;
    background: none;
    border-style: none;
}

.subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #717171;
}

.list-item .text-wrap .divide {
    width: 30px;
    height: 1px;
    margin: 10px 0;
    background: rgb(176, 176, 176);
}

.list-item .text-wrap .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom .grade {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.bottom .grade i {
    color: red;
    padding-right: 3px;
}

.bottom .grade span {
    color: #717171;
    font-weight: normal;
    padding: 0 3px;
}

.bottom .price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 0;
}

.bottom .price .each-price {
    font-size: 18px;
    padding-bottom: 5px;
}

.bottom .price .each-price span  {
    padding-left: 3px;
}

.bottom .price .total-price {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 18px;
}

.bottom .price .total-price span:first-child {
    padding-right: 3px;
}

.bottom .price .total-price i {
    text-decoration: underline;
}







.accommodation-map-wrap {
    flex: 1.2;
    background: blue;
}
