* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121213;
}

.loader {
    font-size: 3rem;
    position: relative;
}

.typed-text {
    color: #03e9f4;
    white-space: nowrap; /* Keeps the content on a single line */
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 3px;
    background: #ccc;
    margin-left: 0.1rem;
    animation: blinkCursor 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blinkCursor {
    50% { background: transparent;}
}

