
body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(192, 192, 192);
  font-size: 12pt;
  font-weight: normal;
}

p, ul {
  margin-top: 0;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 200%;
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
