html, body {
    margin: 0;    
    height: 100%;
    width: 100%;
}

canvas {
    background: black;
}

button {
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - var(--width)/2);
    bottom: 5%;
    cursor: pointer;
    width: var(--width);
    height: 60px;
    font-size: 20px;
    font-family: NEXON Gothic Bold;
    color: #fff;
    border: none;
    background: rgb(51, 144, 251);

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

#clear {
    --width: 200px;
}

button:hover {
    background: rgb(44, 139, 248);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}