
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}


.container {
  overflow: hidden;
  margin: 0px auto;
  width: 1200px;
}


/* content-ul */
ul.content-ul {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  overflow: hidden;
  list-style: none;
  text-align: left;
  color: #6c6c6c
}

ul.content-ul li {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: 0 0 2.5em 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

ul.content-ul li .food-img {
  margin-left: 1em;
  margin-right: 3em;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  float: left;
}

ul.content-ul h3 {
  margin-top: 0.2em;
  padding: 0.2em 0em 5px 0em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  font-family: 'NanumBarunGothic';
}

ul.content-ul li .content-top-p {
  margin-top: 1em;
}

ul.content-ul p {
  margin: 0.2em;
}
ul.content-ul li .review-Rating {

  width: 20px;
  height: 20px;

}




ul.content-ul .content-title {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0.5em 1.5em 0em 0.5em;
  padding: 1.5em 0em 1.5em 0em;
  box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
  line-height: normal;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0,0,0,.2);
  font-size: 1em;
  font-weight: 400;
  border-right: 1px solid rgba(0,0,0,.1);
  color: black;
}



ul.content-ul .content-title b {
  padding: 0;
  display: block;
  margin-top: 2px;
  font-size: 1.8em;
  font-weight: 700;
}





/* navbar */
#navbar {
  position: relative;
  float: left;
  width: 300px;
  padding: 3em 0em;
  margin-top: 12em;
}

/* page bar 배경색 */
#page {
  background-color: #333 ;
}

/* menu page 내의 바*/
#menu li {
  border-top: 1px solid rgba(255,255,255,0.08);
}

#menu li a, #menu li span {
  display: block;
  padding: 2em 1.5em;
  text-align: center;
  text-decoration:  none;
  text-transform: uppercase;
  font-weight: 700;
  color:  white;
}

#menu li a:hover {
  background-color: #111;
}



/* main */
#main {
  overflow: hidden;
  float: right;
  width: 800px;
  padding: 3em 50px 5em 50px;
  background-color: white;
  text-align: center;
}



#main #welcome  p {
  padding-top: 0.5em;
  text-align: center;
  font-size: 5em;
  color: white;

}
#main #welcome {
  background-image: url("http://localhost:3000/images/mainImg.jpg");
  background-size: 800px 300px;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  height: 300px;
  width: 800px;
}

/* center content */
#content {
  overflow: hidden;
  margin-bottom: 3em;
  padding-top: 5em;
}



/* bottom myInfo */
#myInfo {
  padding: 3em 0em;
  border-top: 5px solid rgba(0,0,0,0.1);
}

#myInfo p {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  font-size: 0.8em;
  color: rgba(0,0,0,0.7);
}