
.restList  {
    margin-top: 5em;
    text-align: left;

}
.restList select {

    width:800px;
    height:40px;
    display: inline-block;
    margin: 1em 0 3em 0;
    padding: 10px 42px 10px 10px;
    background-color: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 1em;
    cursor: pointer;
    outline: none;
}

.restList button {

    float: right;
    background-color: #333333;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.restList button:hover {
    box-shadow: 0 3px 6px black;
}
.restMenu-frame {
    text-align: center;
    border-top: 4px solid rgba(0,0,0,0.1);
    padding-top: 5em;
    margin: 5em auto 0 auto;
    width: 800px;
    height: 1000px;
}

.restMenu-link {

    margin-left: 3.1em;
    margin-right: 3.1em;
    margin-bottom: 5em;
    float: left;
    text-decoration: none;
    color: black;
}
.restMenu-link:visited {
    text-decoration: none;
    color: black;
}

.restMenu-img {
    border-radius: 0.5em;
    width: 300px;
    height: 300px;
}
.restMenu-img:hover {
    -webkit-filter: opacity(60%);

}
.restMenu-text {
    margin: 0 auto 0 auto;

}

#Not-found {
    margin-top: 3em;
    width: 800px;
    height: 800px;
    background-color: white;
}

#Not-found-review {
    margin-top: 5em;
    width: 800px;
    height: 800px;
    background-color: white;
    border-top: 4px solid rgba(0,0,0,0.1);
}

