body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

li {
  list-style:none;
}


.food-list {
  margin: 10px auto 10px auto;
  border: 2px solid lightblue;
  border-radius: 5px;

  height: 400px;
  width: 500px;
}
.food-list >p {
  position:relative;
  margin: 10px auto 10px auto;
  width: 300px;
  border: 1px solid lightblue;
  font-size: medium;

}

.review-list {
  margin-left: auto;
  margin-right: auto;
  background-color: lightsteelblue;

}



.food-img {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gold;
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

.rating-star-img {
  height: 30px;
  width: 30px;
}
