* {
    box-sizing: border-box;
}

html {
    background: url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.15);
    font-size: 70px;
}

.items.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.items {
    height: 800px;
    width: 100%;
    padding: 100px 200px;
    border: 1px solid white;


    overflow-x: scroll;
    overflow-y: hidden;

    
    user-select: none;

    white-space: nowrap;

    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    perspective: 500px;
    background: rgba(255,255,255,0.6);
}





.item {
    width: 200px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(9n+1) { background: dodgerblue;}
.item:nth-child(9n+2) { background: goldenrod;}
.item:nth-child(9n+3) { background: paleturquoise;}
.item:nth-child(9n+4) { background: gold;}
.item:nth-child(9n+5) { background: cadetblue;}
.item:nth-child(9n+6) { background: tomato;}
.item:nth-child(9n+7) { background: lightcoral;}
.item:nth-child(9n+8) { background: darkslateblue;}
.item:nth-child(9n+9) { background: rebeccapurple;}

.item:nth-child(2n) { transform: scaleX(1.3) rotateY(30deg); }
.item:nth-child(2n+1) { transform: scaleX(1.3) rotateY(-30deg); }

