
.restList  {
    margin-top: 5em;
    text-align: left;
    padding-bottom: 8em;
    margin-bottom: 5em;
    border-bottom: 4px solid rgba(0,0,0,0.1);

}
.restList select {

    width:800px;
    height:40px;
    display: inline-block;
    margin: 1em 0 3em 0;
    padding: 10px 42px 10px 10px;
    background-color: #f8f8f8;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 1em;
    cursor: pointer;
    outline: none;
}


.restList button {

    float: right;
    background-color: #333333;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.restList button:hover {
    box-shadow: 0 3px 6px black;
}

.restMenu-link {

    margin-left: 3.1em;
    margin-right: 3.1em;
    margin-bottom: 5em;
    float: left;
    text-decoration: none;
    color: black;
}
.restMenu-link:visited {
    text-decoration: none;
    color: black;
}

.restMenu-img {
    border-radius: 0.5em;
    width: 300px;
    height: 250px;
}
.restMenu-img:hover {
    -webkit-filter: opacity(60%);

}
.restMenu-text {
    margin: 0 auto 0 auto;

}

#Not-found {
    width: 800px;
    height: 800px;

}

#Not-found-review {
    width: 800px;
    height: 800px;
    background-color: white;
}


#detail-form {
    margin-top: 5em;
    margin-bottom: 5em;
}
#detail-form button {

    border-color: white;
    padding: 10px 15px;
    background: #333333;
    color: white;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
}
#detail-form button:hover {
    box-shadow: 0 3px 6px black;
}

.food-detail-img {
    border-radius: 0.5em;
    width: 500px;
    height: 400px;
}


.review-Rating {

    width: 20px;
    height: 20px;

}
.review-list{
    overflow: hidden;
    text-align: left;
}

.review-list h2 {
    padding-left: 0.5em;

}



.user-icon {
    margin-top: 0.2em;
    width: 10%;
    float: left;
    clear:both;
}
.review-list-text {
    margin-bottom: 3em;
    float: right;
    width: 85%;
    padding-bottom: 3em;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}




/*
.review-list li {
    padding-bottom: 3em;
    padding-left: 1em;
    height: auto;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    margin-bottom: 2em;
    margin-top: 50px;
}

.user-icon {
    width: 10%;
    float: left;
    margin-right: 5em;
    clear:both;
}
.review-list-text {
    float: right;
    width: 90%;
    height: inherit;
}
 */



