html, body {
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px
}