html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

.memo {
    min-width: 500px;
    background: white;
}

.memo ul {
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.memo li {
    padding: 20px;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
